{
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",     
        "plugin:react/recommended",
        "prettier/react"
    ],
    "rules": {
        "no-undef":"off",
        "no-empty": "off",
        "no-restricted-globals": "off"
    },
    "plugins": ["react"],
}